<html>
<head>
  <title>Rubots</title>
</head>
<body>
  <h1>Attrition</h1>
  
  <table>
  <tr>
    <th>Player</th>
    <th>Last Move</th>
    <th>Soldiers Remaining</th>
    <th>Turns Survived</th>
  </tr>
    <% settings.game.sorted.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.moves.last %></td>
        <td><%= player.score %></td>
        <td><%= player.moves.size %></td>
      </tr>
    <% end %>
  </table>
  
  <form action="/play", method="POST">
    <input type="submit" value="play">
  </form>
</body>
</html>